h1 {
    font-size: 2em;
    text-align: center;
    color: #f18500;
    margin: 2rem 0;
}
h4 {
    color: #b1b1b1;
}
.wrap {
    max-width: 600px;
    margin: auto;
    padding: 1px 10px;
}
.form-group {
    display: flex;
    align-items: center;
}
.form-group label {
    margin-bottom: 0;
    width: 130px;
}
#carId {
    margin-left: 10px;
}
input[type='submit'] {
    display: block;
    width: 100%;
    margin: auto;
}
#carImg {
    display: block;
    max-width: 100%;
}
.btn-container {
    display: flex;
}
.btn-container .btn {
    margin-left: 8px;
}
.btn-container .btn:first-child {
    margin-left: 0;
}

#results .btn {
    width: 49%;
    margin-left: 2%;
}
#results .btn:first-child {
    margin-left: 0;
}

@media screen and (max-width: 599px) {
    .btn-container {
        display: block;
    }
    .btn-container .btn {
        margin-left: 0;
    }
    #results .btn {
        width: 100%;
        margin-bottom: 5px;
        margin-left: 0;
    }
}
